.ui-html,
.ui-body {
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
}

.ui-body {
  --ui-primary-color: #cc3843 !important;
}

.ui-button {
  pointer-events: auto !important;
}

.ui-badge {
  position: absolute;
  top: 0;
  right: 4px;
  /* centered */
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  /* - */
  font-size: 12px;
  border-radius: 50%;
  background-color: var(--ui-primary-color);
  color: var(--ui-inverse-color);
  text-align: center;
}

// helpers
@import './helpers/_helpers';

// slider fix colors for light theme:

.control-arrow {
  background: transparent !important;
  color: #000 !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000 !important;
}
.carousel .control-dots .dot {
  color: #000 !important;
}
